@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display&family=Raleway&display=swap');

/*-------------General Styling Classes------------*/

.play-font {
    font-family: 'Playfair Display', serif;
}

.dance-font {
    font-family: 'Dancing Script', cursive;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.nav-link-ran {
    display: block;
    text-align: center;
    height: 80px;
}

.inline-link-div {
    display: inline;
    width: 100px;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    padding: 25px 40px;
    background-color: #f29e18;
}

.inline-link-div a {
    color: #a63c06;
}

/*--------------------Top Section---------*/

#top-section {
    height: 300px;
    background: url("../images/flight.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    
}

#back-overlay {
    background-color:#ffab0066;
    height: 100%;
}

.logo-text {
    margin-left: 50px;
    padding-top: 30px;
    font-size: 50px;
}

.top-par {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    position: absolute;
    right: 50px;
    bottom: 30px;
    font-weight: 700;
}


/*----------------Navigation & Information Section-------------*/

#nav-info-section {
    background-color:#dce0f5;
}

.nav-row {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background-color: lightgray;
}



.darker-nav {
    background-color: #f29e18;
}

.lighter-nav {
    background-color:#ffcf56;
}

.darker-nav a,
.lighter-nav a {
    color:  #a63c06;
}

.darker-nav a:hover,
.lighter-nav a:hover {
    color: #fa5c0b;
    text-decoration: none;
}

.ini-info {
    padding: 100px 75px;
}

.ini-info-heading h3,
.ini-info h3{
    font-size: 40px;
    padding-bottom: 40px;
}

.ini-intro-par {}

#cont-link {
    color: #a63c06;
}

#cont-link:hover {
    color: #fa5c0b;
    text-decoration: none;
}

/*------------------Customizing Section--------------*/

#customizing-section {
    background-color: #bbc6d3;
    padding-bottom: 20px;
}

#cus-form {
    text-align: center;
}

#pri-option-con {
    display: block;
}

.cuz-head {
    font-size: 20px;
    font-weight: 200;
}

.options-div-1 {
    margin: 40px;
}

.icon-options {
    width: 30%;
    display: inline;
}

.icon-options input {
    
}

.icon-options i {
    display: block;
    font-size: 60px;
    color: #a63c06;
}

#inline-link-input,
#input-contact-sub,
.button-choice {
    width: 200px;
    text-align: center;
    font-size: 20px;
    /* line-height: 80px; */
    padding: 25px 20px;
    background-color: #f29e18;
    color: #a63c06;
    border: none;
}

#input-contact-sub {
    margin-left: 33%;
}

/*--------------------Results Section----------------*/

#results-section {
    background-color: #dce0f5;
    padding-bottom: 40px;
}

#map,
#map2,
#map3 {
    min-height: 200px;
}

/*--------------------All destinations Section-----------*/

#all-dest-section {
    background-color: #bbc6d3;
    padding-bottom: 20px;
}

.destination-list {
    background-color: #fff;
    margin: 50px;
    border-radius: 5px;
    padding: 5px;
}

.unor-dest {
    list-style-type: none;
    padding: 0;
}

.li-item-dest-1,
.li-item-dest-3,
.li-item-dest-5,
.li-item-dest-7,
.li-item-dest-9 {
    background-color:#f1f1f16b;

}

.li-item {
    padding: 5px 10px;
   display: block;
}

.li-item img {
    display: inline;
}

.li-text {
    display: inline-block;
}

.sm-dest-head {
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}

.dest-spec {
    font-weight: 500;
}

.dest-disc {
    display: none;
}

.dest-disc-active {
    display: block;
}


.unor-dest img {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

/*-------------------Contact Section------------------*/

#contact-section {
    background-color:#dce0f5;
    padding-bottom: 80px;
}

.booking-form {
    width: 60%;
    margin-left: 20%;
    display: block;
    background-color: #8080804a;
    padding: 30px;
    border-radius: 5px;
}

.form-input-area {
    width: 100%;
}

.form-input-area input,
.form-input-area textarea {
    border: none;
    margin: 3px;
}

.first-row-form {
    display: inline;
    width: 47%;
    background-color: #e4e4e459;
    color: white;
    border-radius: 3px;
}

.second-row-form,
.booking-row-form,
#con-form-text {
    display: block;
    width: 97%; 
    background-color: #e4e4e459;
    color: white;
    border-radius: 3px;
}

.booking-row-form,
#con-form-text {
    background-color: #ffa5003b;
}


.form-choice {
    display: inline;
    width: 300px;
}

.button-choice {
    padding: 15px;
    margin-bottom: 20px;
}


.button-cont {
    margin-left: 33%;
}

/*----------------------Contact JS-------------------*/

.hidden-row {
    display: none;
}

.active-con {
    background-color: #ffb33b;
}

/*----------------------Footer-------------------*/

footer {
    background-color: #f29e18;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.footer-icon {
    font-size: 25px;
    color: #a63c06;
}

.footer-icon:hover {
    color: #fa5c0b;
}


/*------------------JavaScript Conditions Styling----------*/

#secondary-options,
#tertiary-options {
  display:none;
}

#secondary-options.active,
#tertiary-options.active {
 display:block;
}

.radio-2 {
    display: inline;
}

/*------------------ Media ----------*/

@media screen and (max-width: 768px) {
    body {
        margin: 0;
    }

    .ini-info {
        padding: 100px 40px;
    }

    .unor-dest img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}
    
    #big-link-med {
        width: 90%;
        font-size: 20px;
    }

    .booking-form {
        width: 90%;
        margin-left: 5%;
    }

    #input-contact-sub {
        margin-left: 20%;
    }

    .button-cont {
    margin-left: 20%;
}
}