@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Playfair+Display&family=Raleway&display=swap');

/*-------------General Styling Classes------------*/

.play-font {
    font-family: 'Playfair Display', serif;
}

.dance-font {
    font-family: 'Dancing Script', cursive;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.nav-link-ran {
    display: block;
    text-align: center;
    height: 80px;
}

.inline-link-div {
    display: inline;
    width: 100px;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
    padding: 25px 40px;
    background-color: #f29e18;
}

.inline-link-div a {
    color: #a63c06;
}

/*--------------------Top Section---------*/

#top-section {
    height: 300px;
    padding-top: 30px;
    background-color: #ffff000f;
    position: relative;
}

.logo-text {
    margin-left: 50px;
    font-size: 50px;
}

.top-par {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    position: absolute;
    right: 50px;
    bottom: 30px;
}


/*----------------Navigation & Information Section-------------*/

#nav-info-section {
    background-color:#dce0f5;
}

.nav-row {
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    background-color: lightgray;
}



.darker-nav {
    background-color: #f29e18;
}

.lighter-nav {
    background-color:#ffcf56;
}

.darker-nav a,
.lighter-nav a {
    color:  #a63c06;
}

.ini-info {
    padding: 100px 75px;
}

.ini-info-heading {}

.ini-intro-par {}

/*------------------Customizing Section--------------*/

#customizing-section {
    background-color: #bbc6d3;
    padding-bottom: 20px;
}

/*--------------------Results Section----------------*/

#results-section {
    background-color: #dce0f5;
    padding-bottom: 20px;
}

/*--------------------All destinations Section-----------*/

#all-dest-section {
    background-color: #bbc6d3;
    padding-bottom: 20px;
}

.destination-list {
    background-color: gray;
    margin: 50px;
}

.unor-dest {
    list-style-type: none;
    padding: 0;
}

.li-item-dest-1,
.li-item-dest-3,
.li-item-dest-5,
.li-item-dest-7,
.li-item-dest-9 {
    background-color: #8d8d8d;

}

.li-item {
    padding: 5px 10px;
   
}

.li-item img {
    display: inline;
}

.li-text {
    display: inline-block;
}

.sm-dest-head,
.dest-disc {
    
}

.unor-dest img {
    height: 80px;
    width: 80px;
}

/*-------------------Contact Section------------------*/

#contact-section {
    background-color:#dce0f5;
}

.booking-form {
    width: 60%;
    margin-left: 20%;
    display: block;
    background-color: gray;
}

.form-input-area {
    width: 80%;
}

.first-row-form {
    display: inline;
    width: 48%;
}

.second-row-form,
.third-row-form {
    display: block;
    width: 97%; 
}

.first-row-form,
.second-row-form,
.third-row-form {
    
}


/*------------------JavaScript Conditions Styling----------*/

#secondary-options{
  display:none;
}

#secondary-options.active{
 display:block;
}